@charset "UTF-8";
/*-----Подключение шрифтов-----*/
@font-face {
  font-family: Futura;
  src: url("../fonts/FuturaPTMedium.eot");
  src: local("☺"), url("../fonts/FuturaPTMedium.woff") format("woff"), url("../fonts/FuturaPTMedium.ttf") format("truetype"), url("../fonts/FuturaPTMedium.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Futura;
  src: url("../fonts/FuturaPTBold.eot");
  src: local("☺"), url("../fonts/FuturaPTBold.woff") format("woff"), url("../fonts/FuturaPTBold.ttf") format("truetype"), url("../fonts/FuturaPTBold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

/*--------------------*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 150%;
  font-size: 16px;
  font-weight: 500;
  font-family: Futura, Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

/*--------------------*/
body {
  text-transform: uppercase;
}

body._lock {
  overflow: hidden;
}

._container {
  max-width: 1160px;
  margin: 0px auto;
  padding: 0px 57px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 767.98px;
  }
}

._btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 245px;
  min-height: 60px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 131%;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 40px;
  background: #a387c4;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

._btn:hover {
  background: #645199;
}

@media (max-width: 413.98px) {
  ._btn {
    padding: 5px 20px;
    min-width: 200px;
  }
}

._btn_border {
  background: transparent;
  border: 3px solid #a387c4;
}

._btn_border:hover {
  background: #a387c4;
}

.title {
  font-weight: 700;
  font-size: calc(30px + 20 * ((100vw - 414px) / 1026));
  line-height: 132%;
  color: #504178;
  text-align: center;
  margin: 0px -20px;
}

.title_w {
  color: #fff;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: absolute;
  top: 13.125vh;
  left: 0;
  z-index: 50;
  width: 100%;
  color: #fff;
  min-height: 50px;
  font-weight: 700;
  padding: 10px 0px;
  font-size: 14px;
  line-height: 135%;
}

@media (max-width: 991.98px) {
  .header {
    top: 8.135vh;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-weight: 700;
  width: 140px;
  margin: 0px 40px 0px 0px;
}

.header__logo a {
  color: inherit;
}

@media (max-width: 414px) {
  .header__logo a {
    font-size: 12px;
  }
}

.menu__icon {
  display: none;
  position: absolute;
  width: 40px;
  height: 20px;
  right: 57px;
  top: 10px;
  cursor: pointer;
  z-index: 2;
}

.menu__icon span, .menu__icon::before, .menu__icon::after {
  position: absolute;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__icon span {
  top: 50%;
  -webkit-transform: translateY(-1.5px) scale(1);
          transform: translateY(-1.5px) scale(1);
}

.menu__icon::before {
  content: "";
  top: 0;
}

.menu__icon::after {
  content: "";
  bottom: 0;
}

@media (max-width: 767.98px) {
  .menu__icon {
    display: block;
  }
  .menu__icon._active span, .menu__icon._active::before, .menu__icon._active::after {
    background-color: #4c3d74;
  }
  .menu__icon._active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .menu__icon._active::before {
    -webkit-transform: rotate(-45deg) translate(0, 12px);
            transform: rotate(-45deg) translate(0, 12px);
  }
  .menu__icon._active::after {
    -webkit-transform: rotate(45deg) translate(0, -12px);
            transform: rotate(45deg) translate(0, -12px);
  }
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    padding: 150px 57px 20px 57px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    right: 0;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px 0;
  text-align: right;
  overflow: auto;
}

@media (max-width: 767.98px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu__item {
  margin: 10px 0px;
}

@media (max-width: 767.98px) {
  .menu__item {
    font-size: 24px;
  }
}

@media (min-width: 767.98px) {
  .menu__item:not(:last-child) {
    margin: 10px 27px 10px 0px;
  }
}

.menu__link {
  color: inherit;
}

@media (max-width: 767.98px) {
  .menu__link {
    color: #4c3d74;
    line-height: 130%;
  }
}

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #4c3d74;
  padding-top: 25vh;
  padding-bottom: 20vh;
}

@media (max-width: 991.98px) {
  .main-block {
    padding-top: 20.475vh;
    padding-bottom: 10vh;
  }
}

.main-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .main-block__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}

.main-block__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #ffffff;
  font-weight: 700;
  margin: 0px 20px 0px 0px;
}

@media (max-width: 767.98px) {
  .main-block__body {
    margin: 0;
  }
}

.main-block__content {
  margin: 0px 0px 5.5vh 0px;
}

.main-block__subtitle {
  font-size: calc(16px + 4 * ((100vw - 414px) / 1026));
  line-height: 135%;
}

.main-block__subtitle:not(:last-child) {
  margin: 0px 0px 2.3vh 0px;
}

.main-block__title {
  font-weight: 700;
  font-size: calc(30px + 20 * ((100vw - 414px) / 1026));
  line-height: 132%;
}

.main-block__title:not(:last-child) {
  margin: 0px 0px 3.6vh 0px;
}

@media (max-width: 767.98px) {
  .main-block__title:not(:last-child) {
    margin: 0px -29px 3.6vh -29px;
  }
}

.main-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px -12px;
}

@media (max-width: 767.98px) {
  .main-block__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main-block__button {
  margin: 10px 12px;
}

@media (max-width: 767.98px) {
  .main-block__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.main-block__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 472px;
          flex: 0 0 472px;
  margin: -10vh -68px 0px 0px;
}

@media (max-width: 991.98px) {
  .main-block__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 400px;
            flex: 0 0 400px;
  }
}

@media (max-width: 767.98px) {
  .main-block__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
    margin: 0 auto;
  }
}

@media (max-width: 413.98px) {
  .main-block__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.main-block__image img {
  max-width: 100%;
}

.forwho {
  position: relative;
  padding: 167px 0px 0px 0px;
}

@media (max-width: 1172px) {
  .forwho {
    padding: 110px 0px 0px 0px;
  }
}

.forwho__container {
  position: relative;
  padding-bottom: 182px;
}

@media (max-width: 1172px) {
  .forwho__container {
    padding-bottom: 110px;
  }
}

@media (max-width: 767.98px) {
  .forwho__container {
    padding-bottom: 257px;
  }
}

.forwho__title {
  margin-bottom: 46px;
}

@media (max-width: 767.98px) {
  .forwho__title {
    margin-bottom: 43px;
  }
}

.forwho__row-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -13px 43px -13px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991.98px) {
  .forwho__row-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -20px 0px 23px 0px;
  }
}

.forwho__row-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1172px) {
  .forwho__row-bottom {
    display: block;
  }
}

@media (max-width: 767.98px) {
  .forwho__row-bottom {
    text-align: center;
  }
}

.forwho__subtitle {
  color: #4c3d74;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 450px;
          flex: 0 1 450px;
  max-width: 450px;
  margin: 0px 30px 0px 0px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}

@media (max-width: 1172px) {
  .forwho__subtitle {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 767.98px) {
  .forwho__subtitle {
    display: inline-block;
  }
}

.item-forwho {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 0px 0px 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 13px;
  min-height: 105px;
}

.item-forwho:first-child {
  margin: 0px 13px 0px 0px;
}

@media (max-width: 991.98px) {
  .item-forwho:first-child {
    margin: 20px 0;
  }
}

@media (max-width: 991.98px) {
  .item-forwho {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    margin: 20px 0;
  }
}

@media (max-width: 767.98px) {
  .item-forwho {
    padding: 0;
  }
  .item-forwho:nth-child(2n) .item-forwho__content .item-forwho__image {
    left: auto;
    right: 10px;
  }
}

.item-forwho__content {
  background: #f2eef7;
  border: 3px solid #4c3d74;
  border-radius: 30px;
  padding: 30px 30px 30px 57px;
  position: relative;
  color: #4c3d74;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

@media (max-width: 767.98px) {
  .item-forwho__content {
    padding: 35px 16px 30px 32px;
  }
}

.item-forwho__image {
  position: absolute;
  width: 89px;
  height: 89px;
  top: 12px;
  left: -44.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 767.98px) {
  .item-forwho__image {
    width: 61px;
    height: 61px;
    top: -37px;
    left: -12px;
  }
}

.item-forwho__image img {
  max-width: 100%;
}

.item-forwho__text {
  font-size: 16px;
  line-height: 150%;
}

.item-forwho__text span {
  font-weight: 700;
}

.image-forwho {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.image-forwho__body {
  position: absolute;
  bottom: 0;
  right: 57px;
  width: 243px;
  height: 243px;
}

.image-forwho__body img {
  max-width: 100%;
}

@media (max-width: 767.98px) {
  .image-forwho__body {
    width: 215px;
    height: 215px;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

.about {
  color: #fff;
  background-color: #4c3d74;
  padding: 168px 0px 176px 0px;
}

@media (max-width: 991.98px) {
  .about {
    padding: 140px 0px 150px 0px;
  }
}

@media (max-width: 767.98px) {
  .about {
    padding: 110px 0px 120px 0px;
  }
}

@media (max-width: 413.98px) {
  .about {
    padding: 90px 0px 110px 0px;
  }
}

.about__features {
  margin: 0px 0px 146px 0px;
}

@media (max-width: 991.98px) {
  .about__features {
    margin: 0px 0px 120px 0px;
  }
}

@media (max-width: 767.98px) {
  .about__features {
    margin: 0px 0px 100px 0px;
  }
}

@media (max-width: 413.98px) {
  .about__features {
    margin: 0px 0px 85px 0px;
  }
}

.features-about__title {
  margin: 0px 0px 38px 0px;
}

.features-about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: -15px -20px;
}

@media (max-width: 767.98px) {
  .features-about__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.features-about__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: 15px 0px;
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 991.98px) {
  .features-about__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 767.98px) {
  .features-about__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 500px;
            flex: 0 1 500px;
  }
}

.features-about__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66px;
          flex: 0 0 66px;
  height: 66px;
  margin: 0px 20px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767.98px) {
  .features-about__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 46px;
            flex: 0 0 46px;
    height: 46px;
  }
}

.features-about__image img {
  max-width: 100%;
}

.features-about__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.features-about__text span {
  font-weight: 700;
}

.vorman-about__title {
  margin: 0px 0px 31px 0px;
}

.vorman-about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.vorman-about__content {
  padding: 0px 30px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.vorman-about__content > *:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

@media (max-width: 991.98px) {
  .vorman-about__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .vorman-about__content:not(:last-child) {
    margin: 0px 0px 40px 0px;
    padding: 0;
  }
}

.vorman-about__text span {
  font-weight: 700;
}

.vorman-about__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  position: relative;
  padding: 0px 0px 34.5% 0px;
  max-height: 520px;
}

.vorman-about__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

@media (max-width: 991.98px) {
  .vorman-about__image {
    padding: 0px 0px 70% 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0px auto;
  }
}

@media (max-width: 767.98px) {
  .vorman-about__image {
    padding: 0px 0px 100% 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
  }
}

@media (max-width: 520px) {
  .vorman-about__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0px 0px 120% 0px;
  }
}

@media (max-width: 413.98px) {
  .vorman-about__image {
    padding: 0px 0px 150% 0px;
  }
}

.numbers-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -7.5px !important;
  margin-right: -7.5px !important;
}

.numbers-about__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0px 0px 20px 0px;
  padding: 0px 7.5px;
}

.numbers-about__number {
  font-weight: 700;
  font-size: calc(30px + 20 * ((100vw - 414px) / 1026));
  line-height: 132%;
  margin: 0px 0px 7px 0px;
}
