/*-----Подключение шрифтов-----*/
@font-face {
	font-family: "Futura";
	src: url("../fonts/FuturaPTMedium.eot");
	src: local("☺"), url("../fonts/FuturaPTMedium.woff") format("woff"),
		url("../fonts/FuturaPTMedium.ttf") format("truetype"), url("../fonts/FuturaPTMedium.svg") format("svg");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Futura";
	src: url("../fonts/FuturaPTBold.eot");
	src: local("☺"), url("../fonts/FuturaPTBold.woff") format("woff"),
		url("../fonts/FuturaPTBold.ttf") format("truetype"), url("../fonts/FuturaPTBold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

/*--------------------*/

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Futura";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1160;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 413.98;

$mainColor: #4c3d74;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//=====МИКСИНЫ===================================================================================================================================================
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 414;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 414px) / #{$maxWidth}));
}
//========================================================================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "_null.scss";
body {
	text-transform: uppercase;
	&._lock {
		overflow: hidden;
	}
}
._container {
	max-width: $maxWidthContainer + px;
	margin: 0px auto;
	padding: 0px 57px;
	box-sizing: content-box;
}
.btn {
	display: inline-flex;
	min-width: 245px;
	min-height: 60px;
	border-radius: 30px;
	line-height: 131%;
	color: #fff;
	justify-content: center;
	align-items: center;
	padding: 5px 40px;
	background: #a387c4;
	@media (max-width: $md4+px) {
		padding: 5px 20px;
		min-width: 200px;
	}

	// .btn_border
	&_border {
		background: transparent;
		border: 3px solid #a387c4;
	}
}
.title {
	font-weight: 700;
	@include adaptiv-font(50, 30);
	line-height: 132%;
	color: #504178;
	text-align: center;
	&_w {
		color: #fff;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

.wrapper {
	overflow: hidden;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.header {
	position: absolute;
	top: 13.125vh;
	left: 0;
	z-index: 50;
	width: 100%;
	color: #fff;
	min-height: 50px;
	font-weight: 700;
	padding: 10px 0px;
	font-size: 14px;
	line-height: 135%;
	@media (max-width: $md2+px) {
		top: 8.135vh;
	}
	// .header__container
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .header__logo
	&__logo {
		font-weight: 700;
		width: 140px;
		margin: 0px 40px 0px 0px;
		a {
			color: inherit;
			@media (max-width: 414px) {
				font-size: 12px;
			}
		}
	}
	// .header__menu
	&__menu {
	}
}

.menu {
	// .menu__icon
	&__icon {
		display: none;
		position: absolute;
		width: 40px;
		height: 20px;
		right: 57px;
		top: 10px;
		cursor: pointer;
		z-index: 2;
		span,
		&::before,
		&::after {
			position: absolute;
			right: 0;
			width: 100%;
			height: 3px;
			background-color: #fff;

			transition: all 0.3s ease 0s;
		}
		span {
			top: 50%;
			transform: translateY(-1.5px) scale(1);
		}
		&::before {
			content: "";
			top: 0;
		}
		&::after {
			content: "";
			bottom: 0;
		}
		@media (max-width: $md3+px) {
			display: block;
			&._active {
				span,
				&::before,
				&::after {
					background-color: $mainColor;
				}
				span {
					transform: scale(0);
				}
				&::before {
					transform: rotate(-45deg) translate(0, 12px);
				}
				&::after {
					transform: rotate(45deg) translate(0, -12px);
				}
			}
		}
	}
	//.menu__body
	&__body {
		@media (max-width: $md3+px) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			right: -100%;
			padding: 150px 57px 20px 57px;
			background-color: #fff;
			transition: all 0.3s ease 0s;
			overflow: auto;

			&._active {
				right: 0;
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: -10px 0;
		text-align: right;
		overflow: auto;
		@media (max-width: $md3+px) {
			flex-direction: column;
		}
	}
	// .menu__item
	&__item {
		margin: 10px 0px;
		@media (max-width: $md3+px) {
			font-size: 24px;
		}
		@media (min-width: $md3+px) {
			&:not(:last-child) {
				margin: 10px 27px 10px 0px;
			}
		}
	}
	// .menu__link
	&__link {
		color: inherit;
		@media (max-width: $md3+px) {
			color: $mainColor;
			line-height: 130%;
		}
	}
}
//========================================================================================================================================================

.page {
	// .page__main-block
	&__main-block {
	}
	// .page__forwho
	&__forwho {
	}
}
//========================================================================================================================================================

.main-block {
	display: flex;
	align-items: center;
	min-height: 100vh;
	background: $mainColor;
	padding-top: 25vh;
	padding-bottom: 20vh;
	@media (max-width: $md2+px) {
		padding-top: 20.475vh;
	}

	// .main-block__container
	&__container {
		display: flex;
		align-items: center;

		@media (max-width: $md2+px) {
			flex-wrap: wrap;
			text-align: center;
		}
	}
	// .main-block__body
	&__body {
		flex: 1 1 auto;
		color: #ffffff;
		font-weight: 700;
		margin: 0px 20px 0px 0px;
		@media (max-width: $md2+px) {
			margin: 0;
		}
	}
	// .main-block__content
	&__content {
		margin: 0px 0px 5.5vh 0px;
	}
	// .main-block__subtitle
	&__subtitle {
		// font-size: 20px;
		@include adaptiv-font(20, 16);
		line-height: 135%;
		&:not(:last-child) {
			margin: 0px 0px 2.3vh 0px;
		}
	}
	// .main-block__title
	&__title {
		font-weight: 700;
		// font-size: 50px;
		@include adaptiv-font(50, 30);
		line-height: 132%;
		&:not(:last-child) {
			margin: 0px 0px 3.6vh 0px;
		}
		@media (max-width: $md2+px) {
			&:not(:last-child) {
				margin: 0px -29px 3.6vh -29px;
			}
		}
	}
	// .main-block__buttons
	&__buttons {
		display: flex;
		flex-wrap: wrap;
		margin: -10px -12px;
		@media (max-width: $md2+px) {
			justify-content: center;
		}
	}
	// .main-block__button
	&__button {
		margin: 10px 12px;
		@media (max-width: $md3+px) {
			flex: 1 1 100%;
		}
	}
	// .main-block__image
	&__image {
		flex: 0 0 472px;
		margin: -10vh -68px 0px 0px;
		@media (max-width: $md2+px) {
			flex: 1 1 auto;
			margin: 0;
		}

		img {
			max-width: 100%;
		}
	}
}
//========================================================================================================================================================

.forwho {
	padding: 167px 0px 182px 0px;
	// .forwho__container
	&__container {
	}
	// .forwho__title
	&__title {
		margin: 0px 0px 46px 0px;
	}
	// .forwho__row-top
	&__row-top {
		display: flex;
		margin: 0px -13px 43px -13px;
		justify-content: space-between;
		@media (max-width: $md2+px) {
			flex-wrap: wrap;
		}
	}
	// .forwho__item
	&__item {
	}

	// .forwho__row-bottom
	&__row-bottom {
		display: flex;
	}
	// .forwho__subtitle
	&__subtitle {
	}
	// .forwho__btn
	&__btn {
	}
}

.item-forwho {
	flex: 0 1 33.333%;
	padding: 0px 0px 0px 38px;
	display: flex;
	margin: 0px 13px;
	&:first-child {
		margin: 0px 13px 0px 0px;
		@media (max-width: $md2+px) {
			margin: 0;
		}
	}
	@media (max-width: $md2+px) {
		flex: 1 0 100%;
		margin: 0;
	}
	// .item-forwho__content
	&__content {
		background: #f2eef7;
		border: 3px solid $mainColor;
		border-radius: 30px;
		padding: 30px 30px 30px 57px;
		position: relative;
		color: $mainColor;
	}
	// .item-forwho__image
	&__image {
		position: absolute;
		width: 89px;
		height: 89px;
		top: 12px;
		left: -44.5px;
		img {
			max-width: 100%;
			object-position: bottom;
		}
	}
	// .item-forwho__text
	&__text {
		font-size: 16px;
		line-height: 150%;
		span {
			font-weight: 700;
		}
	}
}
